
Project1/Project1/Project1.vcxproj.user
Project1/Project1/Project1.vcxproj.filters
Project1/Project1/Project1.vcxproj
Project1/Project1/Debug/vc142.pdb
Project1/Project1/Debug/vc142.idb
Project1/Project1/Debug/Project1.tlog/Project1.lastbuildstate
Project1/Project1/Debug/Project1.tlog/link.write.1.tlog
Project1/Project1/Debug/Project1.tlog/link.read.1.tlog
Project1/Project1/Debug/Project1.tlog/link.command.1.tlog
Project1/Project1/Debug/Project1.tlog/CL.write.1.tlog
Project1/Project1/Debug/Project1.tlog/CL.read.1.tlog
Project1/Project1/Debug/Project1.tlog/CL.command.1.tlog
Project1/Project1/Debug/Project1.log
Project1/Project1/Debug/Project1.exe.recipe
Project1/Project1/Debug/number.obj
Project1/Project1/Debug/main.obj
Project1/Debug/Project1.pdb
Project1/Debug/Project1.ilk
Project1/.vs/Project1/v16/ipch/AutoPCH/c969a8d413a0b4da/MAIN.ipch
Project1/.vs/Project1/v16/ipch/AutoPCH/ab8fff90423b4645/MAIN.ipch
Project1/.vs/Project1/v16/ipch/AutoPCH/54cbe84d0aab4d35/NUMBER.ipch
Project1/.vs/Project1/v16/Browse.VC.opendb
Project1/.vs/Project1/v16/Browse.VC.db-wal
Project1/.vs/Project1/v16/Browse.VC.db-shm
Project1/.vs/Project1/v16/Browse.VC.db
Project1/.vs/Project1/v16/.suo
Project1/Project1/Debug/Project1.tlog/unsuccessfulbuild
Project1/Project1/Debug/Project1.tlog/link.20292.write.1.tlog
Project1/Project1/Debug/Project1.tlog/link.20292.read.1.tlog
Project1/Project1/Debug/Project1.tlog/link.20292-rc.write.1.tlog
Project1/Project1/Debug/Project1.tlog/link.20292-rc.read.1.tlog
Project1/Project1/Debug/Project1.tlog/link.20292-cvtres.write.1.tlog
Project1/Project1/Debug/Project1.tlog/link.20292-cvtres.read.1.tlog
Project1/Project1/Debug/Project1.tlog/link-rc.write.1.tlog
Project1/Project1/Debug/Project1.tlog/link-rc.read.1.tlog
Project1/Project1/Debug/Project1.tlog/link-cvtres.write.1.tlog
Project1/Project1/Debug/Project1.tlog/link-cvtres.read.1.tlog
